---
layout: default
title: Inspiration from life
---

<div id="home">
  {% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div id="post-pagination" class="pagination">

  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="{{ site.link }}">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <span class="current-page">{{ count }}</span>
      {% else %}
      <a href="{{ site.link }}/page/{{ count }}">{{ count }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

</div>
