{{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
              {{ range .Paginator.Pages }}
                <article class="post-container post-container--single">

                  <header class="post-header">
                    <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                    <div class="post-meta">
                      <time datetime="{{ .Date.Format "Mon, Jan 2, 2006" }}" class="post-meta__date date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
                      &#8226;
                      <span class="post-meta__tags tags">
                        {{ range .Params.tags }}
                        <a href="tags/{{ . | urlize }}.html">{{ . }}</a>
                        {{ end }}
                      </span>
                    </div>
                  </header>

                  <section class="post tag-projects">
                    {{ .Content }}
                  </section>

                  <hr class="post-list__divider">

                </article>
                {{ end }}
                {{ partial "pagination.html" . }}
                {{ partial "footer.html" .}}
            </div>
        </div>
    </body>
</html>
