<footer class="site-footer">
  <div class="inner">
    <section class="footer-social">
      <a href="https://twitter.com/chengbo1983" target="_blank" rel="noopener" title="Twitter">
        <i class="fa fa-2x fa-fw fa-twitter"></i>
        <span class="hidden">Twitter</span>
      </a>
      <a href="https://stackoverflow.com/users/619424/cheng-bo" target="_blank" rel="noopener" title="Stackoverflow">
        <i class="fa fa-2x fa-fw fa-stack-overflow"></i>
        <span class="hidden">Stackoverflow</span>
      </a>
      <a href="https://github.com/chengbo" target="_blank" rel="noopener" title="Github">
        <i class='fa fa-2x fa-fw fa-github'></i>
        <span class="hidden">Github</span>
      </a>
      <a href="https://www.linkedin.com/in/chengbo1983/" target="_blank" rel="noopener" title="LinkedIn">
        <i class="fa fa-2x fa-fw fa-linkedin"></i>
        <span class="hidden">LinkedIn</span>
      </a>
    </section>
    <section class="footer-author">A blog by
      <a href="mailto:chengbo1983@gmail.com">Bo Cheng</a>
    </section>
    <section class="copyright">&copy; 2018
      <a href="/">{{ config['SITE_TITLE'] }}</a>. All rights reserved</section>
    <section class="theme">
      <a href="https://github.com/epistrephein/Steam" target="_blank" rel="noopener">Steam theme</a> by Tommaso Barbato</section>
  </div>
</footer>
