{% extends "layout.html" %}

{% block head %}
<title>{{ config['SITE_TITLE'] }}</title>
<link rel="canonical" href="{{ config['BASE_URL'] }}">
<meta name="description" content="一个理科生憋了半天写出来的没人看的东西"/>
{% endblock %}

{% block content %}
<main class="content" role="main">
  {% for p in posts %}
  <article class="preview">
    <header>
      <h1 class="post-title"><a href="{{p.permanent_link()}}">{{p.meta['title']}}</a></h1>
      <div class="post-meta"><time datetime="{{p.meta['date']}}">{{p.meta['date'].strftime('%Y-%m-%d')}}</time></div>
    </header>
    <section class="post-excerpt">
      <a class="excerptlink" href="{{p.permanent_link()}}"><p>{{ p.to_markdown() | safe | striptags| truncate(300) }}&hellip;</p></a>
      <p class="readmore"><a href="{{p.permanent_link()}}">Keep reading <i class="fa fa-angle-double-right" style="padding-left: 5px;"></i></a></p>
    </section>
  </article>
  {% endfor %}

  {% macro render_pagination(pagination) %}
  <nav class="pagination" role="pagination">
    {% if pagination.has_prev %}
      <a class="newer-posts" href="{{url_for_other_page(pagination.prev_page)}}"><i class="fa fa-chevron-circle-left"></i> Newer</a>
    {% endif %}
    <span class="page-number">Page {{pagination.page}} of {{pagination.pages}}</span>
    {% if pagination.has_next %}
      <a class="older-posts" href="{{url_for_other_page(pagination.next_page)}}">Older <i class="fa fa-chevron-circle-right"></i></a>
    {% endif %}
  </nav>
  {% endmacro %}
  {% if pagination is defined %}
  {{ render_pagination(pagination) }}
  {% endif %}
</main>
{% endblock %}
