<nav class="cover-navigation navigation--social">
  <ul class="navigation">

    <li class="navigation__item">
      <a href="http://twitter.com/chengbo1983" title="@chengbo1983 on Twitter">
       <i class='fa fa-tt'></i>
       <span class="label">Twitter</span>
     </a>
   </li>

   <li class="navigation__item">
     <a href="https://plus.google.com/+bocheng" title="chengbo on Google+">
       <i class='fa fa-google-plus-square'></i>
       <span class="label">Google+</span>
     </a>
   </li>

   <li class="navigation__item">
     <a href="https://www.flickr.com/photos/chengbo" title="chengbo on Flickr">
       <i class='fa fa-fl'></i>
       <span class="label">Flickr</span>
     </a>
   </li>

   <li class="navigation__item">
     <a href="http://www.linkedin.com/in/chengbo1983/" title="chengbo on LinkedIn">
       <i class='fa fa-ll'></i>
       <span class="label">LinkedIn</span>
     </a>
   </li>

   <li class="navigation__item">
     <a href="http://stackoverflow.com/users/619424/cheng-bo" title="chengbo on Stackoverflow">
       <i class='fa fa-stackoverflow'></i>
       <span class="label">Stackoverflow</span>
     </a>
   </li>

   <li class="navigation__item">
     <a href="https://github.com/chengbo" title="chengbo on Github">
       <i class='fa fa-github'></i>
       <span class="label">Github</span>
     </a>
   </li>

  </ul>
</nav>
