<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}{% if paginator.total_pages and paginator.page != 1 %} | Page {{ paginator.page }}/{{ paginator.total_pages }}{% endif %}</title>
      <meta name="viewport" content="width=device-width">

      <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ site.link }}/rss.xml" />

      <link rel="stylesheet" href="{{ site.link }}/css/main.css">
      <link rel="stylesheet" href="{{ site.link }}/css/syntax.css">
      <link rel="author" href="https://plus.google.com/+bocheng">
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-256558-1']);
        _gaq.push(['_setDomainName', 'chengbo.net']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </head>
    <body>

      <div class="container">
        <header class="header">
          <h1 class="title"><a href="{{ site.link }}">
            {% if page.url != "/index.html" %}
              &laquo;
            {% endif %}
            {{ site.name }}</a></h1>
          <a class="extra" href="{{ site.link }}/about">about</a>
          <div class="search_box">
            <script>
              (function() {
                var cx = '000758963780031818767:ydiky7d1ipy';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search></gcse:search>
        </div>
        </header>

        <div class="content">
          {{ content }}
        </div>

        <div class="sidebar">
          <aside>
            <p>
              Bo Cheng<br />
              West Covina, CA<br />
              chengbo1983 [at] gmail.com
            </p>
          </aside>
          <aside>
            <p>
              <a href="http://github.com/chengbo/">github.com/chengbo</a><br />
              <a href="http://twitter.com/chengbo1983/">twitter.com/chengbo1983</a><br />
              <a href="https://plus.google.com/+bocheng" rel="publisher">Google+</a><br />
            </p>
          </aside>
          <aside>
            <p>
              Blogroll<br />
              <a href="http://www.xiaozhou.net/">iTimothy</a>
            </p>
          </aside>
          <aside>
            <script type="text/javascript" src="//chengbo.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&excerpt_length=200"></script>
          </aside>
        </div>

        <footer class="footer">
          Powered by <a href="http://jekyllrb.com/">jekyll</a>
        </footer>
      </div>

    </body>
</html>
